<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Christos Nianiakas">

        <title>Arduino - Code Editor</title>

        <!-- CSS -->
        {% stylesheets
            '@CodebenderArduinoEditorBundle/Resources/public/libs/bootstrap/css/bootstrap.min.css'
            '@CodebenderArduinoEditorBundle/Resources/public/libs/bootstrap/css/bootstrap-theme.min.css'
            '@CodebenderArduinoEditorBundle/Resources/public/css/main.css'
        %}
            <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <!-- Main container DIV -->
        <div id="main-container" class="container">

            <!-- Editor's title -->
            <div id="title">
                <p>Arduino - Code Editor</p>
            </div>

            <!-- Editor's toolbar -->
            <div id="toolbar">
                <button id="cb_cf_verify_btn" class="btn btn-success pull-left">Verify</button>
                <p id="autosave" style="display: none;">saving ...</p>
                <span class="pull-right">Select board: <select id="cb_cf_boards"></select></span>
            </div>

            <!-- Editor's area -->
            <div id="editor-container">
                <textarea id="editor-contents" data-action="{{ path('update') }}" style="display: none;">{{ app.session.get('code') }}</textarea>
                <div id="editor"></div>
            </div>

            <!-- Editor's statusbar -->
            <div id="statusbar">
                <p id="cb_cf_operation_output"></p>
                <p id="status">Please, write your code, select your board and press the <span style="color: green;">Verify</span> button.</p>
            </div>
        </div>

        <!-- Javascript -->
        {% javascripts
            '@CodebenderArduinoEditorBundle/Resources/public/libs/jquery-1.11.1.min.js'
            '@CodebenderArduinoEditorBundle/Resources/public/libs/bootstrap/js/bootstrap.min.js'
            '@CodebenderArduinoEditorBundle/Resources/public/libs/compilerflasher.min.js'
            '@CodebenderArduinoEditorBundle/Resources/public/libs/ace/*'
            '@CodebenderArduinoEditorBundle/Resources/public/js/main.js'
        %}
            <script src="{{ asset_url }}" type="text/javascript" charset="utf-8"></script>
        {% endjavascripts %}
    </body>
</html>
